#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-grid {
  height: 90vh;
}

#title {
  margin: 7vh;
}

#status {
  text-align: start;
}


ion-toolbar {
  background-color: var(--ion-color-mine-toolbar);
}

/* Animacion */
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

#textAnimated {
	animation: color-change 2s infinite;
  font-weight: bold;
}
@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  75% { color: green; }
  100% { color: red; }
}

